
$base_color:rgb(42, 82, 152);
$lecture_bg:darken($base_color,20);
$tutorial_bg: lighten($base_color,15);
$background: lighten($base_color,55);
$test: #5eba7d;
$test2: #f48024;

.caption {
  height: 2em;
  text-align: center;
  margin-top: 2.5em;
  padding: 0.5em;
  padding-bottom: 0;
  .lecture::before {
    content: '';
    display: inline-block;
    width: 2em;
    vertical-align: -25%;
    height: 1.4em;
    background-color: $lecture_bg;
    margin-right: 0.25em;
  }
  .lecture {
    color: $lecture_bg;
    margin-right: 1em;
  }
  .tutorial::before {
    content: '';
    display: inline-block;
    width: 2em;
    vertical-align: -25%;
    height: 1.4em;
    background-color: $tutorial_bg;
    margin-right: 0.25em;
  }
  .tutorial {
    color: $tutorial_bg;
  }
}

.timetable .day-header{
  text-align: center;
  * {
    display: block;
  }
  span {
    font-size: 1.2em;
    font-weight: bold;
  }
  small {
    font-size: 0.8em;
  }
}

.record-ctu.lecture {
  .record-header {
    background: $lecture_bg;

  }
  input:active + .record-header, input:hover + .record-header, .record-header:hover{
    background: lighten($lecture_bg,10);
  }
  .record-content > div{
    border-bottom: 5px $lecture_bg solid;
  }
}

.record-ctu.test {
  .record-header {
    background: $test;

  }
  input:active + .record-header, input:hover + .record-header, .record-header:hover{
    background: lighten($test,10);
  }
  .record-content > div{
    border-bottom: 5px $test solid;
  }
}
.record-ctu.test2 {
  .record-header {
    background: $test2;

  }
  input:active + .record-header, input:hover + .record-header, .record-header:hover{
    background: lighten($test2,10);
  }
  .record-content > div{
    border-bottom: 5px $test2 solid;
  }
}
.record-ctu.tutorial {
  .record-header {
    background: $tutorial_bg;

  }
  input:active + .record-header, input:hover + .record-header, .record-header:hover{
    background: lighten($tutorial_bg,10);
  }
  .record-content > div{
    border-bottom: 5px $tutorial_bg solid;
  }
}

.record-ctu {
  .record-content > div {
    background: white;
    border-left: #aaa 1px solid;
    border-right: #aaa 1px solid;
  }
  .ctu {
    display: block;
  }
  .record-header {

    .ctu-code {
      font-size: 1.2em;
    }
    .ctu-time,.ctu-room {
      font-size: 0.6em;
    }
    .ctu {
      display: block;
    }
  }
  .record-content{
    .ctu-code{
      text-decoration: none;
      color: $lecture_bg;
    }
    .ctu-type {
      color: lighten($base_color,25);
      font-size: 0.75em;
    }
    .ctu-teacher {
      text-decoration: none;
      color: $lecture_bg;
      font-size: 0.75em;
    }
  }
}